.subreddits-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    margin-left: 7rem;
    margin-top: 5rem
}

.subreddit-button {
    margin: 0.2rem;
    padding: 0.4rem;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 1040px) {
    .subreddit-button {
        font-size: 0.7rem;
        padding: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .subreddits-container {
        position: relative;
        right: 2.5rem;
    }
}

@media only screen and (max-width: 390px) {
    .subreddit-button {
        display: flex;
        width: 10rem;
        align-items: center;
        justify-content: center;
    }
    .subreddits-container {
        right: 3rem;
    }
}

